{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" name="confirmation" placeholder="Repeat new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
